name: Generate Site

on:
  push:
    branches:
      - main  # Set a branch to deploy
  pull_request:

jobs:
  build-deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Check out source
        uses: actions/checkout@v2
        with:
          submodules: hugo-theme-meme  # Fetch Hugo themes (true OR recursive) 获取submodule主题
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
        
      - name: Setup hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "latest" # 可以修改为你使用的 Hugo 版本
          
      - name: Build
        run: hugo --minify
        
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          #external_repository: <siwei27>/<siwei27>.github.io` # 修改为你的 GitHub Pages 仓库
          deploy_key: ${{ secrets.DEPLOY_KEY }}
          publish_dir: ./public
          keep_files: false
          publish_branch: gh-pages
          cname: yaopao.xyz